body {
  color: green;
  font-size: 20px;
}
td {
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
table {
  border: 1px solid black;
} 
tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
  height: 200px;
  width: 300px;
}
.one_1 {
  
}
.one_2 select {
  height: 88px;
 } 
.one_4 select {
  height: 20px;
}
#pic {
  height: 200px;
  width: 350px;
}
.one_9 {
  height: 350px;
  line-height: 30px;
  color: black;
}

.one_3 {
  line-height: 30px;
}
.one_9 input {
  color: white;
  background: green;
}
legend {
  color: blue;
}
.one_11 {
  line-height: 30px;
body {
  color: green;
  font-size: 20px;
}
td {
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
table {
  border: 1px solid black;
} 
tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
  height: 200px;
  width: 300px;
}
.one_1 {
  
}
.one_2 select {
  height: 88px;
 } 
.one_4 select {
  height: 20px;
}
#pic {
  height: 200px;
  width: 350px;
}
.one_9 {
  height: 350px;
  line-height: 30px;
  color: black;
}

.one_3 {
  line-height: 30px;
}
.one_9 input {
  color: white;
  background: green;
}
legend {
  color: blue;
}
.one_11 {
  line-height: 30px;
}